<div class="modal fade" id="modal_panel_supplier_add" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content modal-management">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 28px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="management-title" id="exampleModalLabel">Add Supplier</h5>
            </div>
            <div class="modal-body">
                <form id="panel_supplier_form_add">
                    <div class="form-group">
                        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;" >
                            <div style="margin-right : 56px"> Vendor Code </div>
                            <div id="panel_user_department_data">
                                <input type="text" class="supplier-input" placeholder="Vendor Code"
                                id="panel_supplier_code" name="panel_supplier_code">
                            </div>

                        </div>
                        <div style="display: flex; justify-content: space-between; " >
                            <div  style="margin-right: 50px;" > Vendor Name </div>
                            <div id="panel_user_department_data">
                                <input type="text" class="supplier-input" placeholder="Vendor Name"
                                id="panel_supplier_name" name="panel_supplier_name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div style="padding-left:45px;padding-bottom: 30px;">
                <button type="submit" id="save_panel_supplier" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>