<div class="modal fade" id="modal_panel_user_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Procced to Delete Selected Panel User?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="panel_user_form_delete">
                    <p>Are you sure to delete <span style="color: red;" id="panel_user_delete_message"> </span> from the panel? </p>
                    <input type="hidden" name="panel_user_id_delete" id="panel_user_id_delete" value="">
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="delete_panel_user" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>