<footer style="bottom: 0;">
    <div class="container-fluid">
        <div class="clearfix justify-content-center d-flex justify-content-center text-center">
            <div>
                <span>© <script>
                    document.write(new Date().getFullYear())
                </script> Polytron versi 1.1.18</span>
            </div>
        </div>
    </div>
</footer>
