<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> <%- title %></title>
	<link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/image/apple-touch-icon.png">

	<!-- <link rel="stylesheet" href="/plugin/chosen-1.8.7/public/docsupport/prism.css"> -->


	<!-- <link rel="stylesheet" href="/plugin/chosen-1.8.7/public/docsupport/style.css"> -->


	<link href="/font/font.css" rel="stylesheet">

	<link rel="stylesheet" href="/plugin/bootstrap/dist/css/bootstrap.css">

	<link href="/plugin/animate-css/animate.css" rel="stylesheet" />

	<link rel="stylesheet" href="/plugin/fontawesome/css/all.min.css">

	<link href="/plugin/iCheck/skins/flat/_all.css" rel="stylesheet" />

	<link href="/plugin/switchery/dist/switchery.css" rel="stylesheet" />

	<link href="/plugin/metisMenu/dist/metisMenu.css" rel="stylesheet" />

	<link href="/plugin/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />

	<link href="/plugin/datatables-net/dataTables.bootstrap4.min.css" rel="stylesheet" />

	<link href="/plugin/pace/themes/white/pace-theme-flash.css" rel="stylesheet" />

	<!-- keith-wood -->
	<link href="/plugin/keithwood/jquery.datepick.css" rel="stylesheet" type="text/css">

	<!-- sweet alert2 -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<% if(title=="Login" || title=="Forgot Password" || title=="New Password" ){ %>

	<link href="/plugin/node-waves/waves.css" rel="stylesheet" />

	<!-- Custom Css -->
	<link href="/css/style-login.css" rel="stylesheet">
	<% }%>

	<link rel="stylesheet" href="/css/style-panel.css">
	<link href="/css/panel-theme/allthemes.css" rel="stylesheet" />
	<link href="/css/gudang.css" rel="stylesheet">
	<!-- Date Picker -->
	<link href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css"> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
	</script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

</head>