<!-- Colored Modal -->
<div class="modal fade" id="fail-mdodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fail-modal-title" id="defaultModalLabel2">Error</h4>
            </div>
            <div class="modal-body">
                <p id="fail-modal-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>